{{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
{{ $site := .Site }}
{{ $accent := "#5b67f1" }}
{{ with $site }}
{{ $accent = or .Params.accentColor .Params.themeColor $accent }}
{{ end }}
<head>
<title>{{ .Title }}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Description }}">
<meta name="theme-color" content="{{ $accent }}">
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" media="screen,print" />
</head>
