{{- if .Resume.languages -}}
<section class="sidebar-section">
    <h2 class="sidebar-section-title">{{ .Params.titles.languages | default "Languages" }}</h2>
    <ul class="sidebar-list language-list">
        {{- range $language := .Resume.languages -}}
        <li class="language-item">
            <span class="sidebar-emphasis">{{ $language.name | markdownify | safeHTML }}</span>
            {{ with $language.proficiency }}<span class="language-proficiency">{{ . | markdownify | safeHTML }}</span>{{ end }}
        </li>
        {{- end -}}
    </ul>
</section>
{{- end -}}
