{{- if or .Resume.email .Resume.phone .Resume.links -}}
<section class="sidebar-section">
    <h2 class="sidebar-section-title">{{ .Params.titles.contact | default "Contact" }}</h2>
    <ul class="sidebar-list contact-list">
        {{- with .Resume.email -}}
        <li class="contact-item">
            <a href="mailto:{{ . }}">
                {{ partial "sidebar-icon.html" "email" }}
                <span class="contact-text">{{ . }}</span>
            </a>
        </li>
        {{- end -}}
        {{- with $phone := .Resume.phone -}}
        {{ with $phone.home }}
        <li class="contact-item">
            <a href="tel:{{ $phone.home }}">
                {{ partial "sidebar-icon.html" "phone" }}
                <span class="contact-text">{{ $phone.home | markdownify | safeHTML }}</span>
            </a>
        </li>
        {{ end -}}
        {{ with $phone.cell }}
        <li class="contact-item">
            <a href="tel:{{ $phone.cell }}">
                {{ partial "sidebar-icon.html" "phone" }}
                <span class="contact-text">{{ $phone.cell | markdownify | safeHTML }}</span>
            </a>
        </li>
        {{ end -}}
        {{- end -}}
        {{- range $link := .Resume.links -}}
        {{- $icon := "link" -}}
        {{- $href := lower $link.href -}}
        {{- if in $href "github.com" -}}
        {{- $icon = "github" -}}
        {{- end -}}
        <li class="contact-item">
            <a href="{{ $link.href }}" target="_blank" rel="noreferrer">
                {{ partial "sidebar-icon.html" $icon }}
                <span class="contact-text">{{ $link.title | markdownify | safeHTML }}</span>
            </a>
        </li>
        {{- end -}}
    </ul>
</section>
{{- end -}}
