<div class="sidebar-profile">
    {{- $image := resources.GetMatch "images/profile.png" -}}
    {{- with $image -}}
    {{- $image := $image.Resize "256x256" -}}
    <img class="profile" src="{{ $image.RelPermalink }}" alt="Profile photo" />
    {{- else -}}
    <img class="profile" src="img/profile.png" alt="Profile photo placeholder" />
    {{- end -}}
    <div>
        <h1 class="sidebar-name">{{ .Resume.full_name | markdownify | safeHTML }}</h1>
        {{- with (or .Resume.tagline .Resume.title) -}}
        <p class="sidebar-title">{{ . | markdownify | safeHTML }}</p>
        {{- end -}}
    </div>
</div>
